<div id="<%= dom_id user %>">
  
  <% if user.image.attached? %>
    <%= image_tag(user.image, style: "height: 50px;") %>
  <% end %>
  
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Posts counter:</strong>
    <%= user.posts_counter %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

</div>
