<div id="<%= dom_id fonte %>">
  <p>
    <strong>Name:</strong>
    <%= fonte.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fonte.description %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= fonte.rating %>
  </p>

  <div>
    <%= image_tag(fonte.profile_image, class: "fonte-image") %>
  </div>

</div>
