<%= form_with(model: review, class: "review-form", data: { controller: "review"}) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields-container">

  <div data-controller="mentions" class="mentions-block">
    <%= form.label :fonte_id, style: "display: none" %>
    <%= form.hidden_field :fonte_id %>
    <%= form.text_field :user_name, class: "focus:outline-none bg-transparent focus:ring-1 focus:ring-transparent focus-visible:bg-blue-500", placeholder: "Tag some @fonte", data: { mentions_target: "input" } %>
    
    <div data-mentions-target="list"></div>
 </div>

 <div class="field field-text-area">
    <%= form.label :description, style: "display: none" %>


    <%= form.text_area :description, class: "focus:outline-none focus:ring-1 focus:ring-transparent focus:ring-opacity-50", placeholder: "Share your experience with this fonte..." %>
    <div class="media-icons-container">
      <div class="field-media">
          <%= form.label :image, style: "display: block" do %>
            <div class="icon i-1">
            <i class="fa-solid fa-camera-retro"></i>
            </div>

            <%= form.file_field :image, style: "display: none", accept: "image/jpeg, image/jpg, image/png", data: { controller: "image-preview", action: "change->image-preview#preview" } %>
          <% end %>
      </div>

      <div class="field-media">
          <%= form.label :video, style: "display: block"  do %>
            <div class="icon i-2">
            <i class="fa-solid fa-video"></i>
            </div>
            <%= form.file_field :video, style: "display: none", accept: "video/mp4, video/webm" %>
          <% end %>
      </div>
  </div>
 </div>

 </div>

  <div class="preview-submit">
    <img id="image-preview" style="display: none;">
    <%= image_tag image_path("review-man.png"), class: "before-preview" %>
    <%= form.submit "Publish", class: "submit-preview" %>
  </div>
<% end %>
