<div id="<%= dom_id review %>">
  <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= review.video %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= review.image %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= review.type %>
  </p>

</div>
