<div id="<%= dom_id review %>">

  <h3>
    <%= review.user.name %>
  </h3>

  <h3>
    <%= review.fonte.name %>
  </h3>

  <p>
    <%= review.description %>
  </p>

  <%= render 'reviews/attachment', review: review %>

</div>
